@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot");
    src: url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff");
}

@font-face {
    font-family: "yekan";
    src: url("../fonts/Yekan.eot") format("eot");
    src: url("../fonts/Yekan.ttf") format("truetype"), url("../fonts/Yekan.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "vazir";
    overflow-x: hidden;
}

input,
button {
    font-family: "vazir";
}

.container {
    width: 80vw;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background: #000;
}

header .navbar {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .menu {
    display: flex;
    width: 50%;
}

header .navbar .menu ul {
    display: flex;
    align-items: center;
    width: 80%;

    justify-content: space-between;
}

header .navbar .menu ul li {
    text-align: center;
}

header .navbar .menu ul li a {
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header .navbar .menu ul li a svg {
    width: 100%;
    font-size: 30px;
    margin-top: 5px;
}

header .navbar .menu ul li a:hover {
    color: #c00;
}

header .navbar .social {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

header .navbar .social ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 40%;
}

header .navbar .social ul li a {
    color: #fff;
    font-size: 25px;
}

header .navbar .social button {
    color: #fff;
    background-color: #c00;
    background: linear-gradient(to left bottom, #cc0000 50%, #b80000 50%);
    margin-right: 20px;
    border: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

header .navbar .social button:hover {
    background-color: #c00;
    color: #000;
    background: linear-gradient(to left bottom, #ffffff 50%, #c8c8c8 50%);
}
